In [2]:
my_name = "saikiran"

In [3]:
my_name

'saikiran'

# declaring a string

In [5]:
my_name[0]

's'

In [6]:
my_name[4]

'i'

In [7]:
my_name[-2]

'a'

In [8]:
my_name

'saikiran'

In [9]:
my_name[2:5]

'iki'

# Slicing of the string

In [10]:
my_name[2:]

'ikiran'

In [11]:
my_name[::]

'saikiran'

In [12]:
my_name[::2]

'siia'

In [13]:
my_name[1::]

'aikiran'

In [14]:
my_name[::1]

'saikiran'

In [15]:
my_name[1::2]

'akrn'

In [16]:
my_name[1:5:2]

'ak'

In [17]:
my_name[::-1]

'narikias'

Reverse Order of the string

# Concatination of the string

In [18]:
first_name = "sai"

In [20]:
last_name = "kiran"

In [23]:
FullName = first_name + last_name

In [22]:
FullName

'saikiran'

In [24]:
##Split a String

In [26]:
FullName = FullName + " Sondarkar"

In [27]:
FullName

'saikiran Sondarkar'

# Split of String

In [32]:
FullName.split('');

ValueError: empty separator

In [37]:
FullName.split(', ');

In [41]:
FullName

['saikiran', 'Sondarkar']

In [39]:
FullName = FullName.split(' ');

In [40]:
FullName

['saikiran', 'Sondarkar']

In [42]:
FullName = "Saikiran Sondarkar"

In [43]:
FullName = FullName.split();

In [44]:
FullName

['Saikiran', 'Sondarkar']

In [45]:
FullName = "Saikiran Sondarkar"

In [46]:
FullName = FullName.split('i')

In [47]:
FullName

['Sa', 'k', 'ran Sondarkar']

# String Formatting

In [48]:
name = "Sai"

In [49]:
"I {} is a student of FCS".format(name)

'I Sai is a student of FCS'

In [50]:
name1 = "vinay"

In [52]:
name2 = "Elu"

In [53]:
"I go to FCS with {} {} {}".format(name,name1,name2)

'I go to FCS with Sai vinay Elu'

In [54]:
"I go to FCS with {1} {1} {1}".format(name,name1,name2)

'I go to FCS with vinay vinay vinay'

In [61]:
"I go to FCS with {s} {e} {v}".format(s = name, v = name1, e = name2)

'I go to FCS with Sai Elu vinay'

In [65]:
name.title()

'Sai'

In [63]:
name.lower()

'sai'

In [74]:
name.upper()

'SAI'

In [68]:
name

'Sai'